/* Empty. Add your own CSS if you like */

/**********************************************************Common******************************************************/

a {
    color: #666;
}
a:hover,
a:focus {
    color: #666;
    text-decoration: none;
}

[nav-view-transition="ios"] [nav-view="entering"],
[nav-view-transition="ios"] [nav-view="leaving"] {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: transparent;
}

.platform-android.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 64px; }
.platform-android.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 19px !important; }
.platform-android.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }
.platform-android.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-android.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 64px; }
.platform-android.platform-cordova:not(.fullscreen) .has-header, .platform-android.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 64px; }
.platform-android.platform-cordova:not(.fullscreen) .has-subheader {
    top: 108px; }
.platform-android.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
    top: 113px; }
.platform-android.platform-cordova:not(.fullscreen) .has-header.has-subheader.has-tabs-top {
    top: 157px; }
.platform-android.platform-cordova .popover .bar-header:not(.bar-subheader) {
    height: 44px; }
.platform-android.platform-cordova .popover .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: -1px; }
.platform-android.platform-cordova .popover .bar-header:not(.bar-subheader) > * {
    margin-top: 0; }
.platform-android.platform-cordova .popover .has-header, .platform-android.platform-cordova .popover .bar-subheader {
    top: 44px; }
.platform-android.platform-cordova .popover .has-subheader {
    top: 88px; }
.platform-android.platform-cordova.status-bar-hide {
    margin-bottom: 20px; }

.gradient-bar {
    background: -moz-linear-gradient(left, #f1743a 0%, #d6485e 100%);
    background: -webkit-linear-gradient(left, #f1743a 0%, #d6485e 100%);
    background: -o-linear-gradient(left, #f1743a 0%, #d6485e 100%);
    background: -ms-linear-gradient(left, #f1743a 0%, #d6485e 100%);
    background: linear-gradient(to right, #f1743a 0%, #d6485e 100%);
    border-color: transparent;
    color: #fff;
}
.gradient-bar .button.button-icon {
    color: #fff;
}

.col-sm-3, .col-xs-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.col-xs-4 {
    width: 33.33333333%;
}
@media (min-width: 768px) {
    .col-sm-3 {
        width: 25%;
    }
}

/**********************************************************Common******************************************************/

/*********************************************************app.html*****************************************************/

.side-menu-left .bar {
    height: 80px;
}
.side-menu-left .has-header {
    top: 80px;
}
.platform-android.platform-cordova:not(.fullscreen) .side-menu-left .bar {
    height: 100px;
}
.platform-android.platform-cordova:not(.fullscreen) .side-menu-left .has-header {
    top: 100px;
}

.user-item {
    background-color: transparent;
    border: none;
    margin: 0 auto;
    color: #fff;
}
.user-item >img:first-child {
    top: 11px;
    max-width: 50px;
    max-height: 50px;
}
.user-name {
    height: 50px;
    line-height: 40px;
}

/*********************************************************app.html*****************************************************/

/********************************************************option.html***************************************************/

.option-toggle {
    padding-top: 8px;
    padding-bottom: 8px;
}
.option-toggle .toggle {
    top: 12px;
}
.tech p {
    margin: 0 0 5px;
}

.demo-logo {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    margin-right: 5px;
}

/********************************************************option.html***************************************************/

/*********************************************************home.html****************************************************/

.tech-container {
    display: block;
    margin: 0;
    text-align: center;
}

.tech {
    padding-top: 15px;
    padding-bottom: 15px;
}

.tech-img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-clip: padding-box;
    padding: 2px;
}
.activated .tech-img {
    box-shadow: 0px 0px 15px #1fa0d1;
}

/*********************************************************home.html****************************************************/

/*****************************************************inAppBrowser.html************************************************/

.search-header {
    height: 52px;
}
.search-header .item-input {
    padding: 4px 2px 3px 16px;
}
.search-header .item-button-right {
    padding-right: 65px;
}

.search-content {
    top: 98px;
}

/*****************************************************inAppBrowser.html************************************************/