<ion-view title="cordova-diagnostic-plugin">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right" ng-click="switchToSettings()">
                <i class="icon ion-ios-arrow-right"></i>
                switchToSettings
            </ion-item>
            <ion-item class="item-icon-right" ng-click="switchToLocationSettings()">
                <i class="icon ion-ios-arrow-right"></i>
                switchToLocationSettings
            </ion-item>
            <ion-item class="item-icon-right" ng-click="switchToWifiSettings()">
                <i class="icon ion-ios-arrow-right"></i>
                switchToWifiSettings
            </ion-item>
            <ion-item class="item-icon-right" ng-click="switchToBluetoothSettings()">
                <i class="icon ion-ios-arrow-right"></i>
                switchToBluetoothSettings
            </ion-item>
            <ion-item class="item-icon-right" ng-click="switchToMobileDataSettings()">
                <i class="icon ion-ios-arrow-right"></i>
                switchToMobileDataSettings
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
