<ion-view view-title="jpush-phonegap-plugin" class="sqlite-view">
    <ion-content class="has-tabs">
        <div class="card">
            <div class="item item-divider">别名</div>
            <div class="item">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" ng-model="data.alia" placeholder="请输入别名">
                    </label>
                </div>
            </div>
            <div class="item item-divider item-button-right">
                <div class="buttons">
                    <button class="button" ng-click="setAlia()">设置</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">标签</div>
            <div class="item">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" ng-model="data.tag" placeholder="请输入标签">
                    </label>
                </div>
            </div>
            <div class="item item-divider item-button-right">
                <div class="buttons">
                    <button class="button" ng-click="setTag()">设置</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
